<div class="left-menu">
    <form #directionsForm="ngForm"
          (ngSubmit)="onSubmit()">
        <mat-form-field class="full-width">
            <input matInput required
                   type="text"
                   placeholder="Origin"
                   [(ngModel)]="origin"
                   name="origin">
        </mat-form-field>
        <mat-form-field class="full-width">
            <input matInput type="text"
                   placeholder="Closest Trail Head"
                   [(ngModel)]="trail" name="trail">
        </mat-form-field>
        <mat-form-field class="full-width">
            <input matInput type="text"
                   required
                   placeholder="Destination"
                   [(ngModel)]="destination" name="destination">
        </mat-form-field>
        <button mat-raised-button type="submit">GO</button>
    </form>
    <div #myPanel class="direction-panel"></div>
</div>
<div class="map-container">
    <agm-map [latitude]="myPos?.lat"
             [longitude]="myPos?.lng"
             [zoom]="zoom">
        <agm-direction *ngIf="dir"
                       [origin]="dir.origin"
                       [destination]="dir.destination"
                       [waypoints]="[{ location: dir.trail, stopover: false }]"
                       [travelMode]="travelMode"
                       [provideRouteAlternatives]="true"
                       [avoidHighways]="true"
                       [panel]="myPanel"></agm-direction>
        <!--
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        <agm-polyline [strokeColor]="'#000099'"
                      [strokeWeight]="5">
            <agm-polyline-point [latitude]="lat" [longitude]="lng"></agm-polyline-point>
            <agm-polyline-point [latitude]="40.1475513" [longitude]="-82.9550197"></agm-polyline-point>
        </agm-polyline>
        -->
    </agm-map>
</div>
